<!DOCTYPE html>
<html>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><%= t 'navigation.home' %></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/abouts"><%= t 'navigation.about' %></a>
              </li>
              <li class="">
                <a href="/projects"><%= t 'navigation.projects' %></a>
              </li>
              <li class="">
                <a href="/management"><%= t 'navigation.management' %></a>
              </li>
              <li class="active">
                <a href="/contacts"><%= t 'navigation.contacts' %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TK Architecture" %></title>

    <meta name="description" content="">
    <meta name="author" content="Denis ING">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <p>
    <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
    <%= link_to_unless I18n.locale == :fr, "Français", locale: :fr %>
    <%= link_to_unless I18n.locale == :ar, "العربية", locale: :ar%>
    </p>




    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">

              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  </body>
</html>